<!DOCTYPE html>
<html ng-app="botanicofutbol">
  <head>
    <title>Todo App - with Node + Express + Angular + PostgreSQL</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="stylesheets/style.css" rel="stylesheet" media="screen">
  </head>
  <body ng-controller="mainController">

    <div class="container">

      <div class="header">
        <h1 class="lead">BotanicoFutbol</h1>
      </div>

      <!-- Fixture Zone -->

      <select ng-model="fixtureZoneItem" ng-options="item as item.name for item in zoneData" ng-change="getFixtureByZoneId(fixtureZoneItem.id)">
        <option value="">---Select zone---</option> <!-- not selected / blank option -->
      </select>

      <div class="todo-form">
        <form>
          <div class="form-group">
            <p>Fixture By Zone</p>
            <table border="1">
               <tr>
                  <th>Id</th>
                  <th>MatchId</th>
                  <th>ZoneId</th>
                  <th>Date</th>
                  <th>Home_team_id</th>
                  <th>Away_team_id</th>
                  <th>Home_team_score</th>
                  <th>Away_team_score</th>
               </tr>
               <tr ng-repeat="fixture in fixtureZoneData">
                  <td align="center">#{{ fixture.id }}</td>
                  <td align="center">{{ fixture.match_id }}</td>
                  <td align="center">{{ fixture.zone_id }}</td>
                  <td align="center">{{ fixture.date }}</td>
                  <td align="center">{{ fixture.home_team_name }}</td>
                  <td align="center">{{ fixture.away_team_name }}</td>
                  <td align="center">{{ fixture.home_team_score }}</td>
                  <td align="center">{{ fixture.away_team_score }}</td>
               </tr>
            </table>
          </div>
        </form>
      </div>

      <!-- Team Position -->

      <select ng-model="teamPositionItem" ng-options="item as item.name for item in zoneData" ng-change="getTeamsPositionByZoneId(teamPositionItem.id)">
        <option value="">---Select zone---</option> <!-- not selected / blank option -->
      </select>

      <div class="todo-form">
        <form>
          <div class="form-group">
            <p>Team-Position By Zone</p>
            <table border="1">
               <tr>
                  <th>zone_id</th>
                  <th>position_id</th>
                  <th>team_id</th>
                  <th>pj</th>
                  <th>pg</th>
                  <th>pe</th>
                  <th>pp</th>
                  <th>gf</th>
                  <th>gc</th>
                  <th>dif</th>
                  <th>pts</th>
               </tr>
               <tr ng-repeat="teamPosition in teamPositionData">
                  <td align="center">#{{ teamPosition.zone_id }}</td>
                  <td align="center">{{ teamPosition.position_id }}</td>
                  <td align="center">{{ teamPosition.team_id }}</td>
                  <td align="center">{{ teamPosition.pj }}</td>
                  <td align="center">{{ teamPosition.pg }}</td>
                  <td align="center">{{ teamPosition.pe }}</td>
                  <td align="center">{{ teamPosition.pp }}</td>
                  <td align="center">{{ teamPosition.gf }}</td>
                  <td align="center">{{ teamPosition.gc }}</td>
                  <td align="center">{{ teamPosition.dif }}</td>
                  <td align="center">{{ teamPosition.pts }}</td>
               </tr>
            </table>
          </div>
        </form>
      </div>

      <!-- Tournaments -->
     
      <div class="todo-form">
        <form>
          <div class="form-group">
            <p>Add tournament</p>
            <table border="1">
               <tr>
                  <th>Id</th>
                  <th>Name</th>
                  <th>&nbsp;</th>
               </tr>
               <tr ng-repeat = "tournament in tournamentData">
                  <td align="center"> #{{tournament.id}} </td>
                  <td align="center"> {{tournament.name}} </td>
                  <td> <button class="btn" ng-click="deleteTournament(tournament.id)">Delete</button></td>
               </tr>
               <tr>
                  <td>&nbsp;</td>
                  <td><input type="text" class="form-control" placeholder="Enter name..." ng-model="formTournament.name"></td>
                  <td><button type="submit" class="btn btn-block" ng-click="addTournament()">Add</button></td>
               </tr>
            </table>
          </div>
        </form>
      </div>

      <!-- Teams -->

      <div class="todo-form">
        <form>
          <div class="form-group">
            <p>Add team</p>
            <table border="1">
               <tr>
                  <th>Id</th>
                  <th>TournamentId</th>
                  <th>Name</th>
                  <th>&nbsp;</th>
               </tr>
               <tr ng-repeat="team in teamData">
                  <td align="center">#{{ team.id }}</td>
                  <td align="center">#{{ team.tournament_id }}</td>
                  <td align="center">{{ team.name }}</td>
                  <td><button class="btn" ng-click="deleteTeam(team.id)">Delete</button></td>
               </tr>
               <tr>
                  <td>&nbsp;</td>
                  <td><input type="number" class="form-control" placeholder="Enter tournamentID..." ng-model="formTeam.tournament_id"></td>
                  <td><input type="text" class="form-control" placeholder="Enter name..." ng-model="formTeam.name"></td>
                  <td><button type="submit" class="btn btn-block" ng-click="addTeam()">Add</button></td>
               </tr>
            </table>
          </div>
        </form>
      </div>

      <!-- TeamZones -->

      <div class="todo-form">
        <form>
          <div class="form-group">
            <p>Add team-zone</p>
            <table border="1">
               <tr>
                  <th>ZoneId</th>
                  <th>TeamId</th>
                  <th>&nbsp;</th>
               </tr>
               <tr ng-repeat="teamZone in teamZoneData">
                  <td align="center">#{{ teamZone.zone_id }}</td>
                  <td align="center">#{{ teamZone.team_id }}</td>
                  <td><button class="btn" ng-click="deleteTeamZone(teamZone.zone_id, teamZone.team_id)">Delete</button></td>
               </tr>
               <tr>
                  <td><input type="number" class="form-control" placeholder="Enter zoneID..." ng-model="formTeamZone.zone_id"></td>
                  <td><input type="number" class="form-control" placeholder="Enter teamID..." ng-model="formTeamZone.team_id"></td>
                  <td><button type="submit" class="btn btn-block" ng-click="addTeamZone()">Add</button></td>
               </tr>
            </table>
          </div>
        </form>
      </div>

      <!-- Players -->

      <div class="todo-form">
        <form>
          <div class="form-group">
            <p>Add player</p>
            <table border="1">
               <tr>
                  <th>Id</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Birthday</th>
                  <th>&nbsp;</th>
               </tr>
               <tr ng-repeat="player in playerData">
                  <td align="center">#{{ player.id }}</td>
                  <td align="center">{{ player.name }}</td>
                  <td align="center">{{ player.email }}</td>
                  <td align="center">{{ player.birthday }}</td>
                  <td><button class="btn" ng-click="deletePlayer(player.id)">Delete</button></td>
               </tr>
               <tr>
                  <td>&nbsp;</td>
                  <td><input type="text" class="form-control" placeholder="Enter name..." ng-model="formPlayer.name"></td>
                  <td><input type="email" class="form-control" placeholder="Enter email..." ng-model="formPlayer.email"></td>
                  <td><input type="date" class="form-control" placeholder="Enter birthday..." ng-model="formPlayer.birthday"></td>
                  <td><button type="submit" class="btn btn-block" ng-click="addPlayer()">Add</button></td>
               </tr>
            </table>
          </div>
        </form>
      </div>

      <!-- Zone -->

      <div class="todo-form">
        <form>
          <div class="form-group">
            <p>Add player</p>
            <table border="1">
               <tr>
                  <th>Id</th>
                  <th>Name</th>
                  <th>&nbsp;</th>
               </tr>
               <tr ng-repeat="zone in zoneData">
                  <td align="center">#{{ zone.id }}</td>
                  <td align="center">{{ zone.name }}</td>
                  <td><button class="btn" ng-click="deleteZone(zone.id)">Delete</button></td>
               </tr>
               <tr>
                  <td>&nbsp;</td>
                  <td><input type="text" class="form-control" placeholder="Enter name..." ng-model="formZone.name"></td>
                  <td><button type="submit" class="btn btn-block" ng-click="addZone()">Add</button></td>
               </tr>
            </table>
          </div>
        </form>
      </div>

      <!-- Fixture -->

      <div class="todo-form">
        <form>
          <div class="form-group">
            <p>Add Fixture</p>
            <table border="1">
               <tr>
                  <th>Id</th>
                  <th>MatchId</th>
                  <th>ZoneId</th>
                  <th>Date</th>
                  <th>Home_team_id</th>
                  <th>Away_team_id</th>
                  <th>Home_team_score</th>
                  <th>Away_team_score</th>
                  <th>&nbsp;</th>
               </tr>
               <tr ng-repeat="fixture in fixtureData">
                  <td align="center">#{{ fixture.id }}</td>
                  <td align="center">{{ fixture.match_id }}</td>
                  <td align="center">{{ fixture.zone_id }}</td>
                  <td align="center">{{ fixture.date }}</td>
                  <td align="center">{{ fixture.home_team_id }}</td>
                  <td align="center">{{ fixture.away_team_id }}</td>
                  <td align="center">{{ fixture.home_team_score }}</td>
                  <td align="center">{{ fixture.away_team_score }}</td>
                  <td><button class="btn" ng-click="deleteFixture(fixture.id,fixture.match_id)">Delete</button></td>
               </tr>
               <tr>
                  <td><input type="number" class="form-control" placeholder="Enter name..." ng-model="formFixture.id"></td>
                  <td><input type="number" class="form-control" placeholder="Enter email..." ng-model="formFixture.match_id"></td>
                  <td><input type="number" class="form-control" placeholder="Enter birthday..." ng-model="formFixture.zone_id"></td>
                  <td><input type="datetime" class="form-control" placeholder="Enter name..." ng-model="formFixture.date"></td>
                  <td><input type="number" class="form-control" placeholder="Enter email..." ng-model="formFixture.home_team_id"></td>
                  <td><input type="number" class="form-control" placeholder="Enter email..." ng-model="formFixture.away_team_id"></td>
                  <td><input type="number" class="form-control" placeholder="Enter birthday..." ng-model="formFixture.home_team_score"></td>
                  <td><input type="number" class="form-control" placeholder="Enter birthday..." ng-model="formFixture.away_team_score"></td>
                  <td><button type="submit" class="btn btn-block" ng-click="addFixture()">Add</button></td>
               </tr>
            </table>
          </div>
        </form>
      </div>

    </div>

    <!-- scripts -->
    <script src="http://code.jquery.com/jquery-1.11.2.min.js" type="text/javascript"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.12/angular.min.js"></script>
    <script src="javascripts/main.js"></script>
  </body>
</html>