<!DOCTYPE html>
<html ng-app="botanicofutbol">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheets/style.css" rel="stylesheet">

    <link rel="shortcut icon" href="stylesheets/img/icono.png" />
    
    <title>Torneo del Botanico</title>

  </head>
  <body ng-controller="presentationController" class="foto">
    <!-- Page Content -->
    <div class="container">
      <!-- Team Members Row -->
      <div class="row" >
        <div class="col-md-3 col-xs-12">
          <div class="todo-form">
            <form>
              <button type="submit" ng-click="setTournamentId(1)"><img class="zoom img-rectangle center-block" src="img/torneo_11.png" alt="Torneo Botanico"></button>
            </form>
          </div>
          
        </div>

        <div class="col-md-3 col-md-offset-6 col-xs-12">
          <div class="todo-form">
              <form>
                <button type="submit" ng-click="setTournamentId(2)"><img class="zoom img-rectangle center-block" src="img/torneo_22.png" alt="Zona-norte"></button>
              </form>
            </div>
        </div>
      </div>

    </div>

    <!-- scripts -->
    <script src="javascripts/jquery.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.12/angular.min.js"></script>
    <script src="javascripts/presentation.js"></script>
  </body>
</html>